.chat-Room{
  box-shadow: 5px 7px 15px -4px rgba(105,102,102,0.75);
-webkit-box-shadow: 5px 7px 15px -4px rgba(105,102,102,0.75);
-moz-box-shadow: 5px 7px 15px -4px rgba(105,102,102,0.75);

}

/* Customize the scrollbar */
.Interface_Bot::-webkit-scrollbar {
  height: 4px;  
  height: 2px;
  width: 5px;
}
.Interface_Bot {
margin:10px 1px 0px 0px;
}
/* Handle */
.Interface_Bot::-webkit-scrollbar-thumb {
  background-color: #333; /* Full black color for the scrollbar */
  border-radius: 15px; 
  height: 2px !important;
}

/* Track */
.Interface_Bot::-webkit-scrollbar-track {
  background-color: transparent;/* Light black color for the scrollbar track */
}

/* Optional: Hover effects for the scrollbar */
.Interface_Bot::-webkit-scrollbar-thumb:hover {
 /* Darker black color on hover */
}

.Interface_Bot::-webkit-scrollbar-track:hover {
  background-color: transparent; /* Darker light black color on hover */
}
