.chat-Room{
  box-shadow: 5px 7px 15px -4px rgba(105,102,102,0.75);
-webkit-box-shadow: 5px 7px 15px -4px rgba(105,102,102,0.75);
-moz-box-shadow: 5px 7px 15px -4px rgba(105,102,102,0.75);

}

.Interface_Bot::-webkit-scrollbar {
  height: 4px;  
  height: 2px;
  width: 5px;
}
.Interface_Bot {
margin:10px 1px 0px 0px;
}

.Interface_Bot::-webkit-scrollbar-thumb {
  background-color: #333; 
  border-radius: 15px; 
  height: 2px !important;
}


.Interface_Bot::-webkit-scrollbar-track {
  background-color: transparent;
}



.Interface_Bot::-webkit-scrollbar-track:hover {
  background-color: transparent; 
}
.logout_button{

  background-color: white;
  padding: 1vh 3vh;

  border-radius: 1vh;
  font-size: large;
  font-weight: 700;
  color: #3f6eea;
}
